/*
|--------------------------------------------------------------------------
| Item
|--------------------------------------------------------------------------
| @namespace: rst-
|
*/
@import "../../../app";

.rst-Item {
  display: flex;
  width: 100%;

  background-color: #fff;
  box-shadow: var(--Box_Shadow-light);
  border-radius: var(--Global_Radius);

  overflow: hidden;
}

.rst-Item_Images {
  width: calc(2 / 7 * 100%);
}

.rst-Item_Body {
  display: flex;
  width: calc(3.5 / 7 * 100%);

  border-right: 1px solid var(--Color_Border);
  border-left: 1px solid var(--Color_Border);
}

.rst-Item_Meta {
  flex: 1;

  display: flex;
  width: calc(1.5 / 7 * 100%);
}

/*
|--------------------------------------------------------------------------
| Information
|--------------------------------------------------------------------------
| @namespace: rst-
|
*/
.rst-Information {
  flex-grow: 1;
  flex-direction: column;

  display: flex;
  padding: 20px;
}

.rst-Information_Title {
  @include Font_22-28;

  display: inline-block;
  margin-bottom: 12px;

  color: var(--Color_Brand-blue);
}

.rst-Information_Location {
  @include Font_16-24;

  font-weight: 600;
}

.rst-Information_Text {
  margin-top: 10px;

  line-height: 24px;
}

.rst-Information_Footer {
  align-items: center;
  display: flex;
  margin: auto -40px 0;

  border-top: 20px solid transparent;
}

.rst-Information_Key {
  align-items: center;

  display: inline-flex;
  margin: 0 40px;
}

.rst-Information_KeyText {
  @include Font_22-28;

  margin-right: calc(var(--Grid_Gutter) * 3);
}

.rst-Information_Icon {
  svg {
    height: 40px;
    fill: var(--Color_Brand-blue);
  }
}

/*
|--------------------------------------------------------------------------
| Tabs
|--------------------------------------------------------------------------
| @namespace: rst-
|
*/
.rst-Tabs {
  flex-direction: column;

  display: flex;
  width: 100%;
}

.rst-Tabs_Tabs {
  display: flex;

  border-bottom: 1px solid var(--Color_Border);
}

.rst-Tabs_Tab {
  width: calc(1 / 2 * 100%);
  padding: 14px var(--Grid_Gutter);

  border: none;
  background-color: #fff;

  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: center;

  cursor: pointer;
}

.react-tabs__tab--selected {
  background: var(--Color_Gradient);

  color: #fff;
}

.rst-Tabs_Content {
  flex-grow: 1;

  display: none;
  width: 100%;
}

.react-tabs__tab-panel--selected {
  display: flex;
}

/*
|--------------------------------------------------------------------------
| Meta
|--------------------------------------------------------------------------
| @namespace: rst-
|
*/
.rst-Meta {
  align-items: center;
  flex-direction: column;

  display: flex;
  width: 100%;

  text-align: center;
}

.rst-Meta_Body {
  width: 100%;
  padding: 20px var(--Grid_Gutter);
}

.rst-Meta_ImageContainer {
  width: 80px;
  height: 80px;

  margin: 0 auto;
}

.rst-Meta_Image {
  display: block;
  width: 100%;
  height: 100%;

  border-radius: 40px;

  background-color: #000;
}

.rst-Meta_Name {
  margin-top: 20px;

  font-size: 14px;
}

.rst-Meta_Footer {
  width: 100%;
  margin-top: auto;
  padding: 10px var(--Grid_Gutter);

  border-top: 1px solid var(--Color_Border);
}

.rst-Meta_Link {
  @include Font_12-18;

  text-transform: uppercase;
  letter-spacing: 1px;
}

.rst-Action_Actions {
  justify-content: center;

  display: flex;
  margin: 10px -8px;
}

.rst-Action_Action {
  justify-content: center;
  align-items: center;

  display: flex;
  width: 40px;
  height: 40px;
  margin: 0 8px;

  border-radius: 25px;
  border: none;

  svg {
    width: 18px;
    fill: #fff;
  }
}

.rst-Action_Action-like {
  background-color: var(--Color_Brand-green);

  svg {
    margin-top: 2px;
    width: 24px;
    fill: #fff;
  }
}

.rst-Action_Action-dislike {
  background-color: var(--Color_Red);
}

/*
|--------------------------------------------------------------------------
| Carousel
|--------------------------------------------------------------------------
| @namespace: rst-
|
*/
.rst-Carousel {
  display: flex;
  height: 100%;

  .slider-frame {
    display: flex !important;
    height: 100% !important;

    .slider-list {
      height: 100% !important;
    }

    .slider-slide {
      height: 100% !important;
    }
  }
}

.rst-Carousel_Items {
  display: flex;
  height: 100%;
}

.rst-Carousel_ImageContainer {
  display: flex;
  height: 100%;
}

.rst-Carousel_Image {
  display: block;
  width: 100%;
  height: 100%;

  object-fit: cover;
}
