/* We use an order that is beneficial for a 'settings' file */
:root {
  /*
  |--------------------------------------------------------------------------
  | Colours
  |--------------------------------------------------------------------------
  |
  */
  --Color_Brand-blue: #3394fc;
  --Color_Brand-green: #3ed843;
  --Color_Red: #fe605f;

  --Color_Facebook: #235399;
  --Color_Twitter: #1c9eef;
  --Color_Google: #dc4d3f;

  --Color_Anchor: var(--Color_Brand-blue);
  --Color_Body: #36383a;
  --Color_Border: #d1d5d8;
  --Color_GreyBackground: #f8f8f8;

  --Color_Gradient: linear-gradient( 90deg, rgb(16,130,252) 22%, rgb(62,216,67) 83%);
  --Color_Gradient-opposite: linear-gradient( 90deg, rgb(62,216,67) 83%, rgb(16,130,252) 22%);

  /*
  |--------------------------------------------------------------------------
  | Fonts
  |--------------------------------------------------------------------------
  |
  */
  /**
  * Font - Families
  */
  --Font_Family: Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', sans-serif;
  --Font_Family-body: var(--Font_Family);

  /*
  |--------------------------------------------------------------------------
  | Grid
  |--------------------------------------------------------------------------
  |
  */
  --Grid_Constrained: 1600px;
  --Grid_Container: 1600px;
  --Grid_Gutter: 16px;

  /*
  |--------------------------------------------------------------------------
  | Miscellaneous
  |--------------------------------------------------------------------------
  |
  */
  --Global_Radius: 4px;
  --Global_Transition: 0.2s;
  --Transition_EaseOutBack: cubic-bezier(0.175, 0.885, 0.32, 1.075);

  /*
  |--------------------------------------------------------------------------
  | Box-shadows
  |--------------------------------------------------------------------------
  |
  */
  --Box_Shadow-dark: 0px 3px 7px 0px rgba(0, 0, 0, 0.3);
  --Box_Shadow-light: 0px 3px 7px 0px rgba(0, 0, 0, 0.1);

}
