/*
|--------------------------------------------------------------------------
| List
|--------------------------------------------------------------------------
| @namespace: rst-
|
*/
.rst-List {
  flex-grow: 1;
  flex-direction: column;

  display: flex;
}

.rst-List_Items {
  justify-content: space-between;
  flex-grow: 1;
  flex-direction: column;

  display: flex;
}

.rst-List_Item {
  flex: 1;

  display: flex;
  margin: 16px 0;

  &:first-child {
    margin-top: 32px;
  }

  &:last-child {
    margin-bottom: 32px;
  }
}
