/*
|--------------------------------------------------------------------------
| Footer
|--------------------------------------------------------------------------
| @namespace: hm-
|
*/
@import '../../../app.scss';

.hm-Footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;

  padding: 10px 0;

  @include sm {
    border-top: none;
  }
}

.hm-Footer_Inner {
  @include Grid_Container;
}

.hm-Footer_Body {
  @include sm {
    width: calc(10 / 12 * 100%);
    margin: 0 auto;
  }
}

.hm-Footer_Items {
  text-align: center;

  @include sm {
    align-items: center;
    justify-content: center;

    display: flex;
    margin: 0 -16px;

    text-align: left;
  }
}

.hm-Footer_Item {
  &:nth-last-child(-n + 2) {
    display: none;
  }

  @include sm {
    margin: 0 var(--Grid_Gutter);

    text-align: center;

    &:nth-last-child(-n + 2) {
      display: block;
    }
  }
}

.hm-Footer_Link {
  font-size: 8px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;

  color: var(--Color_Body);
}
