/*
|--------------------------------------------------------------------------
| Buttons
|--------------------------------------------------------------------------
|
*/
@mixin Button {
  display: inline-block;
  padding: 0.25vr var(--Grid_Gutter);

  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 4px;
  color: #fff;

  transition: background-color var(--Global_Transition),
  border var(--Global_Transition),
  color var(--Global_Transition);
}

@mixin Button-primary {
  @include Button;

  background-color: var(--Color_Brand);
  color: #fff;
}

@mixin Button-secondary {
  @include Button;
}

/*
|--------------------------------------------------------------------------
| Grid
|--------------------------------------------------------------------------
|
*/
@mixin Grid_Container {
  max-width: calc(var(--Grid_Container) + (var(--Grid_Gutter) * 6));
  width: 100%;
  margin: 0 auto;
  padding: 0 calc(var(--Grid_Gutter) * 3);
}

@mixin Grid_Row {
  flex-wrap: wrap;

  display: flex;
  margin: 0 auto;
}

@mixin Grid_Column {
  margin: 0 auto;
}

/*
|--------------------------------------------------------------------------
| Resets
|--------------------------------------------------------------------------
|
*/
@mixin Reset_List {
  margin: 0;
  padding: 0;

  list-style: none;
}
