/*
|--------------------------------------------------------------------------
| Fonts
|--------------------------------------------------------------------------
|
*/
@import 'mixins';

@mixin Font_10-18 {
  font-size: 10px;
  line-height: 18px;
}

@mixin Font_12-18 {
  font-size: 12px;
  line-height: 18px;
}

@mixin Font_14-20 {
  font-size: 14px;
  line-height: 20px;
}

@mixin Font_16-24 {
  font-size: 16px;
  line-height: 24px;
}

@mixin Font_18-28 {
  font-size: 18px;
  line-height: 28px;
}

@mixin Font_22-28 {
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;

  @include xxlg {
    font-size: 22px;
    line-height: 28px;
  }
}

@mixin Font_24-32 {
  font-size: 24px;
  font-weight: 500;
  line-height: 32px;
}

@mixin Font_26-34 {
  font-size: 24px;
  font-weight: 500;
  line-height: 34px;

  @include sm {
    font-size: 26px;
  }
}
