/*
|--------------------------------------------------------------------------
| Home
|--------------------------------------------------------------------------
| @namespace: lyt-
|
*/
@import '../../app.scss';

.lyt-Home {
  position: relative;

  align-items: center;

  display: flex;
  height: 100vh;

  overflow: hidden;
}

.lyt-Home_Shape {
  position: absolute;
  z-index: -1;

  width: 60%;
  height: 80%;

  background: var(--Color_Gradient);

  transform: rotate(-32deg);
  transform-origin: 0;
}

.lyt-Home_Shape-blue {
  top: -30%;
  right: -18%;

  @include md {
    top: -30%;
  }

  @include lg {
    top: -10%;
  }
}

.lyt-Home_Shape-green {
  display: none;

  @include sm {
    bottom: -60%;
    left: -8%;

    display: block;
  }

  @include md {
    bottom: -88%;
  }
}

.lyt-Home_Inner {
  @include Grid_Container;
}

.lyt-Home_Body {
  @include sm {
    width: calc(10 / 12 * 100%);
    margin: 0 auto;
  }
}
