/*
|--------------------------------------------------------------------------
| Home
|--------------------------------------------------------------------------
| @namespace: lyt-
|
*/
@import '../../app.scss';

.lyt-Home {
  position: relative;

  align-items: center;

  display: flex;
  height: 100vh;

  overflow: hidden;
}

.lyt-Home_Shape {
  position: absolute;
  z-index: -1;

  width: 60%;
  height: 80%;

  background: var(--Color_Gradient);

  transform: rotate(-32deg);
  transform-origin: 0;
}

.lyt-Home_Shape-blue {
  top: -10%;
  right: -18%;
}

.lyt-Home_Shape-green {
  bottom: -88%;
  left: -20%;
}

.lyt-Home_Inner {
  @include Grid_Container;
}

.lyt-Home_Body {
  width: calc(10 / 12 * 100%);
  margin: 0 auto;
}
