/*
|--------------------------------------------------------------------------
| Header
|--------------------------------------------------------------------------
| @namespace: rst
|
*/
@import '../../../app';

.rst-Header {
  padding: 10px 0;
  height: 78px;

  background-color: #fff;
  border-bottom: 1px solid var(--Color_Border);
}

.rst-Header_Inner {
  @include Grid_Container;
}

.rst-Header_Body {
  justify-content: space-between;
  align-items: center;

  display: flex;
}

.rst-Header_Items {
  align-items: center;

  display: flex;
  margin: 0 -8px;
}

.rst-Header_Item {
  margin: 0 8px;
}

.rst-Header_Link {
  padding: 5px;

  font-size: 10px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
  text-align: center;
  border: none;

  background-color: transparent;

  color: var(--Color_Body);
}
