/*
|--------------------------------------------------------------------------
| Search
|--------------------------------------------------------------------------
| @namespace: hm-
|
*/
@import '../../../app.scss';

.hm-Search {
  text-align: center;
}

.hm-Search_Title {
  @include Font_26-34;

  margin-bottom: 20px;

  text-transform: uppercase;
  letter-spacing: 1px;
}

.hm-Search_Title-alternative {
  position: relative;

  font-weight: 600;

  &::before {
    content: '';

    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;

    height: 3px;

    background-color: var(--Color_Body);
  }
}

.hm-Search_Container {
  display: flex;
  border-radius: 23px;

  box-shadow: var(--Box_Shadow-dark);
}

.hm-Search_Input {
  width: 100%;
  padding: 14px var(--Grid_Gutter);

  font-size: 14px;

  border-radius: 23px 0 0 23px;
  border-color: transparent;
  border-right: none;

  &::placeholder {
    font-size: 14px;
  }
}

.hm-Search_Submit {
  flex-shrink: 0;

  display: flex;
  width: 42px;
  padding: 14px;

  background-color: #fff;
  border-radius: 0 23px 23px 0;
  border-color: transparent;
  border-left: none;
}

