/*
|--------------------------------------------------------------------------
| Sidebar
|--------------------------------------------------------------------------
| @namespace: rst-
|
*/
@import "../../../app";

.rst-SideBar {
  width: 100%;

  background-color: #fff;
  border-radius: var(--Global_Radius);
  box-shadow: var(--Box_Shadow-light);

  overflow: hidden;
}

/*
|--------------------------------------------------------------------------
| Tabs
|--------------------------------------------------------------------------
|
*/
.rst-SideBar {
  .react-tabs__tab-panel--selected {
    display: block;
  }
}

.rst-SideBar_Tabs {
  display: flex;
  width: 100%;
}

.rst-SideBar_Tabs {
  display: flex;

  border-bottom: 1px solid var(--Color_Border);

  .react-tabs__tab--selected {
    background-color: var(--Color_Brand-green);

    color: #fff;
  }

  .react-tabs__tab--selected:last-child {
    background-color: var(--Color_Red);

    color: #fff;
  }
}

.rst-SideBar_Tab {
  width: calc(1 / 2 * 100%);
  padding: 14px var(--Grid_Gutter);

  border: none;
  background-color: #fff;

  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: center;

  cursor: pointer;
  transition: background-color var(--Global_Transition), color var(--Global_Transition);

  &:hover {
    background-color: var(--Color_Brand-green);

    color: #fff;
  }

  &:last-child {
    &:hover {
      background-color: var(--Color_Red);

      color: #fff;
    }
  }
}

.rst-SideBar_TabContent {
  display: none;

  width: 100%;
  padding: 18px;
}

/*
|--------------------------------------------------------------------------
| Side List
|--------------------------------------------------------------------------
| @namespace: rst-
|
*/
.rst-SideList_Item {
  margin-bottom: 20px;

  &:last-child {
    margin-bottom: 0;
  }
}
