/*
|--------------------------------------------------------------------------
| Results
|--------------------------------------------------------------------------
| @namespace: lyt-
|
*/
@import '../../app';

.lyt-Results {
  background-color: var(--Color_GreyBackground);
}

.lyt-Results_Inner {
  @include Grid_Container;
}

.lyt-Results_Body {
  display: flex;
  min-height: calc(100vh - 173px);
  margin: 16px -16px;

  @include lg {
    margin: 32px -16px;
  }
}

.lyt-Results_Main {
  flex-direction: column;

  display: flex;

  width: calc(7 / 10 * 100% - var(--Grid_Gutter) * 2);
  margin: 0 var(--Grid_Gutter);
}

.lyt-Results_Aside {
  display: flex;
  width: calc(3 / 10 * 100% - var(--Grid_Gutter) * 2);
  margin: 0 var(--Grid_Gutter)
}
