/*
|--------------------------------------------------------------------------
| Results
|--------------------------------------------------------------------------
| @namespace: lyt-
|
*/
@import '../../app';

.lyt-Results {
  background-color: var(--Color_GreyBackground);
}

.lyt-Results_Inner {
  @include Grid_Container;
}

.lyt-Results_Body {
  display: flex;
  min-height: calc(100vh - 237px);
  margin: 16px -16px;

  @include lg {
    margin: 32px -16px;
  }

  @include xlg {
    margin: 64px -32px;
  }
}

.lyt-Results_Main {
  flex-direction: column;

  display: flex;

  width: calc(9 / 12 * 100% - var(--Grid_Gutter) * 4);
  margin: 0 calc(var(--Grid_Gutter) * 2);
}

.lyt-Results_Aside {
  display: flex;
  width: calc(3 / 12 * 100% - var(--Grid_Gutter) * 4);
  margin: 0 calc(var(--Grid_Gutter) * 2);
}
